body {
  background-color: rgb(3, 3, 3);
  font-family: Impact, Charcoal, sans-serif;
  color: white;
}

#gameWindow {
  position: relative;
  display: flex;
  justify-content: center;
}

#gameArea {
  position: relative;
  width: 790px;
  height: 576px;
  border: solid green 5px;
  overflow: hidden;
}

#scoreContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: left;
  font-size: 1.5em;
  z-index: 30;
}

.score {
  padding: 10px;
}

.sprite {
  position: absolute;
  z-index: 10;
}

#messageContainer {
  position: absolute;
  top: 200px;
  text-align: center;
  width: 100%;
  z-index: 40;
}

.message {
  font-size: 3em;
  padding: 20px;
}

.star {
  position: absolute;
  left: 0px;
  background-color: white;
  border-radius: 50%;
  animation-name: starX;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.starSmall {
  top: 10px;
  width: 3px;
  height: 3px;
  animation-duration: 5s;
  background-color: gray;
  }

.starMedium {
  top: 50px;
  width: 4px;
  height: 4px;
  animation-duration: 4s;
}

.starBig {
  left: 0px;
  top: 100px;
  width: 5px;
  height: 5px;
  animation-duration: 3s;
}

@keyframes starX {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-200px);
  }
}

@keyframes explosion {
    0%   {background-image: url("../explosion/smallexplode1.png");}
    10%   {background-image: url("../Explosion/smallexplode2.png"); }
    20%   {background-image: url("../Explosion/smallexplode3.png"); }
    30%   {background-image: url("../Explosion/smallexplode4.png"); }
    40%   {background-image: url("/assets/Explosion/smallexplode5.png");}
    60%   {background-image: url("/assets/Explosion/smallexplode6.png");opacity: 0.9;}
    80%   {background-image: url("/assets/Explosion/smallexplode7.png");opacity: 0.8;}
    90%   {background-image: url("/assets/Explosion/smallexplode8.png");opacity: 0.5;}
    100%   {background-image: url("/assets/Explosion/smallexplode9.png");opacity: 0.3;}
}

.explosion {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 500px;
  top: 300px;
  animation-name: explosion;
  animation-duration: 0.8s;
  background-repeat: no-repeat;
  z-index: 20;
}
